@* Componente de animação: Nublado ☁️ *@
<div class="cloudy-container">
    <div class="cloud cloud-1">
        <div class="cloud-circle cloud-circle-1"></div>
        <div class="cloud-circle cloud-circle-2"></div>
        <div class="cloud-circle cloud-circle-3"></div>
    </div>
    <div class="cloud cloud-2">
        <div class="cloud-circle cloud-circle-1"></div>
        <div class="cloud-circle cloud-circle-2"></div>
        <div class="cloud-circle cloud-circle-3"></div>
    </div>
    <div class="cloud cloud-3">
        <div class="cloud-circle cloud-circle-1"></div>
        <div class="cloud-circle cloud-circle-2"></div>
        <div class="cloud-circle cloud-circle-3"></div>
    </div>
    <div class="cloudy-bg"></div>
</div>
