@* Componente de animação: Tempestade ⛈️ *@
<div class="stormy-container">
    <div class="storm-cloud">
        <div class="cloud-circle cloud-circle-1"></div>
        <div class="cloud-circle cloud-circle-2"></div>
        <div class="cloud-circle cloud-circle-3"></div>
    </div>
    <div class="raindrops storm-raindrops">
        @for (int i = 0; i < 15; i++)
        {
            var delay = i * 0.15;
            var left = (i * 6.5) % 100;
            <div class="raindrop storm-drop" style="left: @(left)%; animation-delay: @(delay)s"></div>
        }
    </div>
    @for (int i = 0; i < 4; i++)
    {
        var delay = i * 1.5 + 0.5;
        var left = 15 + i * 22;
        <div class="lightning" style="left: @(left)%; animation-delay: @(delay)s"></div>
    }
    <div class="stormy-bg"></div>
</div>
